.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.calendar-container {
  width: 80%;
  margin: auto;
}

.react-calendar__navigation {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button.react-calendar__navigation__arrow:hover {
  cursor: pointer;
}

button.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
  font-size: 30px;
  border: none;
  background: transparent;
}

button.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
  font-size: 30px;
  border: unset;
  background: transparent;
}

button.react-calendar__navigation__label {
  font-size: 20px;
  background: transparent;
  border: none;
  width: 30%;
  flex-grow: unset !important;
}

button.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
  font-size: 30px;
  border: none;
  background: transparent;
}

button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  font-size: 30px;
  border: unset;
  background: transparent;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
